body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}

header {
    background-color: black;
    background-image:url(/assets/img/cartographer.png);

}

.navbar p{
    text-align: end;
    font-weight: bolder;
}


i {
    font-size: 40px;
    margin: 5px;
}
