body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif
}

header {
    background-color: black;
    background-image:url(/assets/img/cartographer.png);

}

navbar .p{
    text-align: end;
}
grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);
